// .layout-footer {
//     transition: margin-left $transitionDuration;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding-top: 1rem;
//     border-top: 1px solid var(--surface-border);
// }
.btn-circle {
    width: 32px;
    height: 32px;
    border-radius: 50% !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .text-pink {
    color: #e1306c;
  }

  footer {
    font-size: 0.9rem;
  }
