version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: API/Dockerfile
    container_name: auto-deploy-api
    ports:
      - "8080:8080"

  ui:
    build:
      context: .
      dockerfile: UI/Dockerfile
    container_name: auto-deploy-ui
    ports:
      - "80:80"
    depends_on:
      - api