<div class="col-12">
    <div class="card">
        <div class="row">
            <div class="col" style="padding-top: 0px;">
                <h5>Quick Links</h5>
            </div>
        </div>
        <ul class="list-none p-0 m-0 flex-grow-1">
            <li class="flex align-items-center mb-3" *ngFor="let link of links">
                <i class="pi iconsize mr-5" [ngClass]="getFiletype(link.fileType)"></i>
                <span class="iconsize"><a [href]="link.link" target="_blank">{{link.name}}</a> </span>
            </li>
        </ul>
    </div>
</div>