.boldlabel > span {
    font-weight: 700;
  }
  .boldlabelinsiderow{
      padding: 10px !important;
      span {
          font-weight: 700;
        }
  }
  .boldlabelhiegr {
      padding: 0px !important;
    span {
      font-weight: 650;
      font-size: 13px;
    }
  }
  .sssdt{
  th, td{    
    background-color: #e6e7ff;
    padding: 10px;
  }
}
  .stablediv{
    
    padding: 15px;
    background-color: #e6e7ff;
    border-radius: 10px;
  }
  .iconstyling{
    padding: 10px;
    border-radius: 5px;
    background-color: #aaaaff;
  }
    ::ng-deep .p-card .p-card-content{
      padding: 0.25rem 0;
    }
    ::ng-deep .p-card .p-card-title{      
    font-size: 1 rem;
    }
    ::ng-deep .setheight{
      
      min-height: 599px;
      max-height: 600px;
      overflow: auto;
    }
    ::ng-deep .sddd{
      min-height: 599px;
      max-height: 600px;

    }
    ::ng-deep .colr{
      background-color: blue;
    }

    // style for pop up added by vijay

/* Bigger popup + square shape */
::ng-deep .milestone-popup .p-dialog {
  border-radius: 0 !important;
  background-color: #f5f7fa !important;
  border: 2px solid #cfd8dc !important;
}

/* Custom header layout */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-title {
  font-size: 22px;
  font-weight: bold;
  color: rgb(18, 18, 18);
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* Header background */
::ng-deep .milestone-popup .p-dialog-header {
  background-color: #e9ebec !important;
  padding: 0.75rem 1rem;
}

/* Download icon style */
.icon-download-btn {
  background-color: transparent !important; /* Same as close button */
  border: none !important;
  width: 36px !important;
  height: 36px !important;
  border-radius: 50% !important; /* Make it round like close button */
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-download-btn .pi {
  font-size: 1.1rem;
  color: #070707; /* Same muted gray as close icon */
}

/* Close button styling */
.close-btn {
  background: transparent !important;
  border: none !important;
  color: rgb(229, 23, 23) !important;
}

/* Center content */
.viewer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(90vh - 70px); /* Adjust for header space */
}
.viewer-content {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border: none;
}
.viewer-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}
.viewer-container img {
  width: 100%;
  height: 100%;
  border: none;
}

.viewer-container video {
  width: 100%;
  height: 100%;
  border: none;
}


