/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* Demos */
@import "assets/demo/styles/flags/flags.css";
@import "assets/demo/styles/badges.scss";
@import "assets/demo/styles/code.scss";





.pi-pencil{
    color: green;
    font-size: 1.5rem;
}
.pi-trash,.pi-times{
    color: red;
}
.notificationBadge{
    span{
        display: block !important;
    }
}
.card-dash{
    background: var(--surface-card);
    border: 1px solid var(--surface-border);
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: var(--card-shadow);
    border-radius: 12px;
}
.selectbtn-dash{
    .p-element.p-button.p-component{
        height: 30px;
        border: 1px solid #6366F1;
    }
    span{
        font-weight: normal;
    }
}
input:read-only { 
    background-color: #f3f3f3;
 }.optioanlcls{
    color: #8c8d8f;
}

.p-datatable .p-datatable-tbody > tr:nth-child(even) {
	background: #f8f9fa;
}
.p-breadcrumb ul li .p-menuitem-link .p-menuitem-text{
    color: #6366f1;
}.p-menuitem-text>h5{
    color: #6366f1;
    margin-bottom: 0px;
}.p-menuitem-text>h5>span{
    color: #6366f1;
    font-size: small;
}

.warning>span
{
    background-color :#75d833 !important
}
.success>span
{
    background-color :#05b105
}
.grey>span
{
    background-color :#ec5757
}
.danger>span
{
    background-color :#ff6262
}

.custome-style-p-password{
    width: 100% !important;
}

/* Ensure clear icon is visible */
.p-dropdown-clear-icon {
  display: block !important;
  opacity: 1 !important;
  visibility: visible !important;
  color: #666 !important;
  font-size: 14px;
  right: 2.2rem !important;   /* move it left so not hidden by arrow */
  z-index: 2;
}

.p-dropdown {
  padding-right: 3rem;
}



