.numbercontenct{
    
    padding: 10px;
    margin-bottom: 0px;
    margin-right: 20px;
    margin-top: 12px;
    background-color: #feddc7;
    border-radius: 10px;
}

// .icon{
//     margin-top: 30px;
// }
.box:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to right, #8d8f91, #cfd3d8);
    border-radius: 15px;
}
.numbercontenct:hover{
    background-color: #c7eefe;
}