::ng-deep .fulsc{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

// added css for width

:host ::ng-deep app-quick-links {
    display: block;        /* Makes sure it behaves like a block element */
    width: 100% !important; /* Full width */
    max-width: 100%;        /* Prevents it from being limited */
    flex: 0 0 100% !important; /* For flexbox-based grid systems */
}



// /* ===== Overlay ===== */
// .filter-overlay {
//   position: fixed;
//   inset: 0;
//   background: rgba(0,0,0,0.55);
//   backdrop-filter: blur(3px);
//   z-index: 9999;

//   display: flex;
//   justify-content: flex-end;
// }

// /* ===== Sliding Panel ===== */
// .filter-panel {
//   width: 390px;
//   max-width: 95vw;
//   height: calc(100vh - 20px);
//   margin: 10px;

//   background: #dedede;
//   border-radius: 26px;

//   padding: 20px 20px 28px;

//   display: flex;
//   flex-direction: column;

//   overflow-y: auto;

//   box-shadow: 0 18px 60px rgba(0,0,0,0.4);

//   animation: slideFromRight 0.25s ease forwards;
// }

// /* ===== Header ===== */
// .filter-header {
//   display: flex;
//   align-items: center;
//   gap: 12px;
//   margin-bottom: 12px;
// }

// /* Back button */
// .close-btn {
//   width: 34px;
//   height: 34px;
//   border-radius: 50%;
//   border: none;
//   background:#efefef;

//   color: black;
//   font-size: 18px;
//   cursor: pointer;

//   box-shadow: inset 0 0 0 1px #ccc;
// }

// .filter-title {
//   font-size: 18px;
//   font-weight: 600;
//   color:#111;
// }

// /* ===== Search ===== */
// .search-wrapper {
//   position: relative;
//   margin-bottom: 12px;
// }

// .search-icon {
//   position: absolute;
//   left: 14px;
//   top: 50%;
//   transform: translateY(-50%);
//   font-size: 15px;
//   color: #666;
// }

// .search-wrapper input {
//   width: 100%;
//   height: 46px;

//   border-radius: 999px;
//   border: none;

//   padding-left: 40px;
//   padding-right: 14px;

//   background: #c7c7c7;
//   color: #222;

//   font-size: 14px;

//   outline: none;
// }

// /* ===== Labels ===== */
// .filter-panel label {
//   margin-top: 14px;
//   margin-bottom: 4px;
//   font-size: 13px;
//   font-weight: 500;
//   color: #555;
// }

// /* ===== Dropdowns ===== */
// .filter-panel select {
//   width: 100%;
//   height: 44px;

//   border-radius: 10px;
//   border: none;

//   background: white;
//   padding: 0 12px;

//   font-size: 14px;
//   color: #444;

//   box-shadow: inset 0 0 0 1px #ddd;
// }



// /* ===== Be smooth ===== */
// @keyframes slideFromRight {
//   from {
//     transform: translateX(110%);
//     opacity: 0.5;
//   }
//   to {
//     transform: translateX(0);
//     opacity: 1;
//   }
// }


// /* ===== PrimeNG Dropdown Override ===== */

// :host ::ng-deep .filter-panel .p-dropdown {
//   width: 100%;
//   height: 44px;

//   border-radius: 10px;
//   background: #fff;

//   box-shadow: inset 0 0 0 1px #ddd;
// }

// :host ::ng-deep .filter-panel .p-dropdown-label {
//   font-size: 14px;
//   color: #444;
// }

// :host ::ng-deep .filter-panel .p-dropdown-trigger {
//   color: #444;
// }








