<div class="card">
  <div
    class="grid formgrid"
    style="
      justify-content: space-between;
      padding: 0rem 1rem;
      margin-bottom: 10px;
    "
  >
    <div class="">
      <h4>{{ title }}</h4>
    </div>
    <div class="">
      <button
        pButton
        pRipple
        label="Back to List"
        class="p-button-secondary"
        [style]="{ float: 'right' }"
        icon="pi pi-arrow-left"
        (click)="back()"
      ></button>
      <button
        pButton
        pRipple
        label="Work Documents"
        class="p-button-info"
        [style]="{ float: 'right', 'margin-right': '10px' }"
        icon="pi pi-arrow-left"
        (click)="backtoDoc()"
      ></button>
    </div>
  </div>
  <div
    class="card p-fluid"
    style="padding: 20px 20px 20px 20px; background-color: #e6e7ff"
  >
    <div class="p-formgrid grid">
      <div class="col-11">
        <h5>Tender</h5>
        <div class="col-12 row">
          <div class="lg:col-4 md:col-4 sm:col-12 boldlabelinsiderow">
            <span>Work Number: </span
            >{{ tender && tender.tenderNumber ? tender.tenderNumber : "" }}
          </div>
          <div class="lg:col-4 md:col-4 sm:col-12 boldlabelinsiderow">
            <span>Division: </span
            >{{ tender && tender.divisionName ? tender.divisionName : "" }}
          </div>
          <div class="lg:col-4 md:col-4 sm:col-12 boldlabelinsiderow">
            <span>District: </span
            >{{ tender && tender.districtName ? tender.districtName : "" }}
          </div>
          <div class="lg:col-4 md:col-4 sm:col-12 boldlabelinsiderow">
            <span>Start Date: </span
            >{{ tender && tender.startDate ? dc(tender.startDate) : "" }}
          </div>
          <div class="lg:col-4 md:col-4 sm:col-12 boldlabelinsiderow">
            <span>End Date: </span
            >{{ tender && tender.endDate ? dc(tender.endDate) : "" }}
          </div>
          <div class="lg:col-4 md:col-4 sm:col-12 boldlabelinsiderow">
            <span>Class: </span>{{ tender && tender.class ? tender.class : "" }}
          </div>
          <div class="lg:col-4 md:col-4 sm:col-12 boldlabelinsiderow">
            <span>Category: </span
            >{{ tender && tender.category ? tender.category : "" }}
          </div>
          <div class="lg:col-4 md:col-4 sm:col-12 boldlabelinsiderow">
            <span>Main Category: </span
            >{{ tender && tender.mainCategory ? tender.mainCategory : "" }}
          </div>
          <div class="lg:col-4 md:col-4 sm:col-12 boldlabelinsiderow">
            <span>Name of the work: </span
            >{{ tender && tender.subcategory ? tender.subcategory : "" }}
          </div>
          <div class="lg:col-4 md:col-4 sm:col-12 boldlabelinsiderow">
            <span>Service Type: </span
            >{{
              tender && tender.service_type_main ? tender.service_type_main : ""
            }}
          </div>
          <div class="lg:col-4 md:col-4 sm:col-12 boldlabelinsiderow">
            <span>Category Type: </span
            >{{
              tender && tender.category_type_main
                ? tender.category_type_main
                : ""
            }}
          </div>
          <div class="lg:col-4 md:col-4 sm:col-12 boldlabelinsiderow">
            <span>Bid Type: </span
            >{{ tender && tender.bidType ? tender.bidType : "" }}
          </div>

          <div class="lg:col-4 md:col-4 sm:col-12 boldlabelinsiderow">
            <span>Name: </span
            >{{ tender && tender.contractorName ? tender.contractorName : "" }}
          </div>
          <div class="lg:col-4 md:col-4 sm:col-12 boldlabelinsiderow">
            <span>Division: </span
            >{{
              tender && tender.contractorDivision
                ? tender.contractorDivision
                : ""
            }}
          </div>
          <div class="lg:col-4 md:col-4 sm:col-12 boldlabelinsiderow">
            <span>District: </span
            >{{
              tender && tender.contractorDistrict
                ? tender.contractorDistrict
                : ""
            }}
          </div>
          <div class="lg:col-4 md:col-4 sm:col-12 boldlabelinsiderow">
            <span>Category: </span
            >{{
              tender && tender.contractorCategory
                ? tender.contractorCategory
                : ""
            }}
          </div>
          <div class="lg:col-4 md:col-4 sm:col-12 boldlabelinsiderow">
            <span>Tender Value: </span
            >{{
              tender && tender.tenderFinalAmount
                ? tender.tenderFinalAmount
                : tender && tender.workValue
                ? tender.workValue
                : ""
            }}{{
              tender && tender.tenderFinalAmount
                ? " (" + convertoWordsIND(tender.tenderFinalAmount) + ")"
                : tender && tender.workValue
                ? " (" + convertoWordsIND(tender.workValue) + ")"
                : ""
            }}
          </div>
          <!-- modified by Indu on 3/12/2025 -->

          <div class="lg:col-4 md:col-4 sm:col-12 boldlabelinsiderow">
            <span>Awarded Value: </span
            >{{ tender && tender.workValue ? tender.workValue : ""
            }}{{
              tender && tender.workValue
                ? " (" + convertoWordsIND(tender.workValue) + ")"
                : ""
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-confirmPopup key="confirm2"></p-confirmPopup>
  <div class="row" *ngIf="isNew">
    <div class="col-12">
      <h6>Choose the template for the milestone</h6>
      <p-dropdown
        [options]="configurationList"
        optionLabel="name"
        [style]="{ width: '40%' }"
        optionValue="id"
        placeholder="Select a Template"
        (onChange)="changeRole($event)"
        [(ngModel)]="selectedTemplate"
        [showClear]="false"
      ></p-dropdown>

      <button
        pButton
        type="button"
        *ngxPermissionsOnly="privlegess.TENDER_TEMPLATE_EDIT"
        (click)="generate()"
        [style]="{ 'margin-left': '10px' }"
        [disabled]="selectedTemplate === ''"
        label="Generate"
      ></button>
    </div>
  </div>
  <div *ngIf="showDetail">
    <div class="grid formgrid mb-3">
      <div class="col-12">
        <div
          class="card p-fluid"
          style="padding-bottom: 10px; background-color: #e6e7ff"
        >
          <div
            class="p-formgrid grid"
            style="text-align: left"
            *ngIf="!isNew && !isEditMode"
          >
            <div class="col">
              <span>Name:</span>
              <input pInputText [(ngModel)]="name" disabled />
            </div>
            <div class="col">
              <span>Code:</span>
              <input pInputText [(ngModel)]="templateCode" disabled />
            </div>
            <div class="col">
              <span>Duration:</span>
              <p-inputNumber [(ngModel)]="durationInDays"></p-inputNumber>
            </div>
            <div class="col">
              <span>Strength:</span>
              <input pInputText [(ngModel)]="strength" />
            </div>
            <div class="col">
              <span>Work Type:</span>

              <input pInputText [(ngModel)]="workType" disabled />
            </div>
            <div class="col">
              <span>Sub Work:</span>
              <input pInputText [(ngModel)]="subWorkType" disabled />
            </div>
            <div class="col">
              <span>Service Type:</span>

              <input pInputText [(ngModel)]="serviceType" disabled />
            </div>
            <div class="col">
              <span>Category Type:</span>
              <input pInputText [(ngModel)]="categoryType" disabled />
            </div>

            <div
              *ngxPermissionsOnly="privlegess.TEMPLATE_REASSIGN"
              style="padding-top: 15px"
            >
              <p-button label="Delete" (click)="delete($event)" />
            </div>
          </div>

          <div
            class="p-formgrid grid"
            style="text-align: left"
            *ngIf="isEditMode || isNew"
          >
            <div class="col boldlabel">
              <span>Name: </span> {{ name || "" }}
            </div>
            <div class="col boldlabel">
              <span>Code: </span> {{ templateCode || "" }}
            </div>
            <div class="col boldlabel">
              <span>Duration: </span> {{ durationInDays || 0 }} - Days
            </div>
            <div class="col boldlabel">
              <span>Strength: </span> {{ strength || "" }}
            </div>
            <div class="col boldlabel">
              <span>Work Type: </span> {{ workType || "" }}
            </div>
            <div class="col boldlabel">
              <span>Sub Work: </span> {{ subWorkType || "" }}
            </div>
            <div class="col boldlabel">
              <span>Service Type: </span> {{ serviceType || "" }}
            </div>
            <div class="col boldlabel">
              <span>Category Type: </span> {{ categoryType || "" }}
            </div>
            <div
              *ngxPermissionsOnly="privlegess.TEMPLATE_REASSIGN"
              style="padding-top: 15px"
            >
              <p-button label="Delete" (click)="delete($event)" />
            </div>
          </div>
        </div>
        <div
          class="col hedsr"
          *ngIf="showDetail && !isNew"
          style="text-align: end"
        >
          <p-button
            icon="pi pi-plus"
            *ngIf="!defaultstatus"
            [ngStyle]="{ 'margin-right': '20px;' }"
            (onClick)="addnewRow($event)"
          ></p-button>
        </div>
        <div class="grid formgrid mb-3" style="margin-bottom: 40px !important">
          <form
            [formGroup]="milestoneForm"
            (ngSubmit)="submit()"
            class="col-12"
          >
            <div class="card p-fluid" style="padding-bottom: 10px">
              <fieldset [disabled]="isNew">
                <div class="p-formgrid grid">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>S.No</th>
                        <th style="min-width: 200px">
                          Milestone Name <br />
                          <span
                            *ngIf="milestoneNameErrorMsg"
                            class="tableheadererrormsg"
                            >{{ milestoneNameErrorMsg }}</span
                          >
                        </th>
                        <th style="min-width: 100px">
                          Milestone Code <br />
                          <span
                            *ngIf="milestoneCodeErrorMsg"
                            class="tableheadererrormsg"
                            >{{ milestoneCodeErrorMsg }}</span
                          >
                        </th>
                        <th [style]="isNew ? 'display:none' : 'display:revert'">
                          Start Date<br />
                          <span
                            *ngIf="startdateErrorMsg"
                            class="tableheadererrormsg"
                            >{{ startdateErrorMsg }}</span
                          >
                        </th>
                        <th>
                          Duration In Days
                          <span style="font-weight: 300"
                            >({{ totaldays }})</span
                          >
                          <br />
                          <span class="tableheadererrormsg">{{
                            durationErrorMsg
                          }}</span>
                        </th>
                        <th [style]="isNew ? 'display:none' : 'display:revert'">
                          End Date
                        </th>
                        <th>is Payment Required</th>
                        <th>
                          Payment Percentage
                          <span style="font-weight: 300"
                            >({{ totalpercenatge }})</span
                          >
                          <br /><span class="tableheadererrormsg">{{
                            paymentreqErrorMsg
                          }}</span>
                        </th>
                        <th [style]="isNew ? 'display:none' : 'display:revert'">
                          Action
                        </th>
                      </tr>
                    </thead>
                    <tbody
                      cdkDropList
                      (cdkDropListDropped)="drop($event)"
                      formArrayName="milestones"
                    >
                      <tr
                        cdkDrag
                        cdkDragLockAxis="y"
                        [cdkDragDisabled]="getdragdisableorNot(itemrow)"
                        *ngFor="
                          let itemrow of t.controls;
                          let i = index;
                          let l = last
                        "
                        [formGroupName]="i"
                      >
                        <td cdkDragHandle style="cursor: grabbing">
                          <i class="pi pi-bars mr-2"></i> {{ i + 1 }}
                        </td>
                        <td>
                          <input
                            pInputText
                            [maxlength]="250"
                            formControlName="milestoneName"
                            type="text"
                          />
                        </td>
                        <td>
                          <input
                            pInputText
                            [maxlength]="250"
                            formControlName="milestoneCode"
                            type="text"
                          />
                        </td>
                        <td [style]="isNew ? 'display:none' : 'display:revert'">
                          <p-calendar
                            [dateFormat]="'dd-mm-yy'"
                            [readonlyInput]="true"
                            [showIcon]="true"
                            formControlName="startDate"
                            (ngModelChange)="datechanged(i)"
                            inputId="icon"
                          ></p-calendar>
                        </td>
                        <td>
                          <p-inputNumber
                            (ngModelChange)="daychanged()"
                            inputId="inputnumber"
                            [max]="1095"
                            formControlName="durationInDays"
                          ></p-inputNumber>
                        </td>
                        <td [style]="isNew ? 'display:none' : 'display:revert'">
                          {{
                            milestoneList[i].controls["endDate"].value
                              ? dc(milestoneList[i].controls["endDate"].value)
                              : ""
                          }}
                        </td>
                        <td style="text-align: center">
                          <div *ngIf="isNew; else switch">
                            {{
                              milestoneList[i].controls["isPaymentRequired"]
                                .value
                                ? "YES"
                                : "NO"
                            }}
                          </div>
                          <ng-template #switch>
                            <p-inputSwitch
                              (onChange)="
                                isPaymentRequired($event);
                                milestoneList[i].controls[
                                  'paymentPercentage'
                                ].setValue(0)
                              "
                              formControlName="isPaymentRequired"
                            ></p-inputSwitch>
                          </ng-template>
                        </td>
                        <td>
                          <p-inputNumber
                            inputId="inputnumber"
                            [max]="100"
                            [readonly]="
                              !milestoneList[i].controls['isPaymentRequired']
                                .value
                            "
                            formControlName="paymentPercentage"
                          ></p-inputNumber>
                        </td>
                        <td [style]="isNew ? 'display:none' : 'display:revert'">
                          <ng-container *ngFor="let action of actions">
                            <div
                              *ngIf="
                                ((!defaultstatus &&
                                  !milestoneList[i].controls['id'].value &&
                                  !getdragdisableorNot(itemrow) &&
                                  action.type == 'DELETE') ||
                                  (!defaultstatus &&
                                    milestoneList[i].controls['id'].value &&
                                    !getdragdisableorNot(itemrow) &&
                                    action.type == 'INACTIVATE') ||
                                  (defaultstatus &&
                                    action.type == 'ACTIVATE')) &&
                                milestoneList[i].controls['percentageCompleted']
                                  .value == 0
                              "
                            >
                              <button
                                type="button"
                                pButton
                                pRipple
                                [icon]="action.icon"
                                *ngxPermissionsOnly="[
                                  privlegess.TENDER_MILESTONE_EDIT
                                ]"
                                (click)="actioInvoked(action.type, i, $event)"
                                class="p-button-text mr-2"
                                [title]="action.title"
                                styleClass="p-button-text"
                              ></button>
                            </div>
                          </ng-container>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </fieldset>
              <div
                class="col-12 md:col-12 lg:col-12"
                *ngIf="!defaultstatus && !isNew"
                style="display: flex; justify-content: end"
              >
                <div class="" style="margin-right: 20px">
                  <button
                    pButton
                    type="button"
                    (click)="submit(false)"
                    *ngxPermissionsOnly="[
                      privlegess.TENDER_MILESTONE_SET,
                      privlegess.TENDER_MILESTONE_EDIT
                    ]"
                    [disabled]="
                      !milestoneForm.valid ||
                      durationErrorMsg ||
                      milestoneNameErrorMsg ||
                      paymentreqErrorMsg ||
                      startdateErrorMsg
                    "
                    label="Save"
                  ></button>
                </div>
                <div class="" style="margin-right: 20px">
                  <button
                    pButton
                    type="submit"
                    *ngxPermissionsOnly="[
                      privlegess.TENDER_MILESTONE_SET,
                      privlegess.TENDER_MILESTONE_EDIT
                    ]"
                    [disabled]="
                      !milestoneForm.valid ||
                      durationErrorMsg ||
                      milestoneNameErrorMsg ||
                      paymentreqErrorMsg ||
                      startdateErrorMsg
                    "
                    label="Submit"
                  ></button>
                </div>
                <div class="">
                  <button
                    pButton
                    type="button"
                    class="p-button-secondary"
                    label="Reset"
                    (click)="resetForm()"
                  ></button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
