.boldlabel > span {
  font-weight: 700;
}
.boldlabelinsiderow{
    padding: 0px !important;
    margin-bottom: 5px;
    span {
        font-weight: 500;
      }
}
.boldlabelhiegr {
    padding: 0px !important;
  span {
    font-weight: 650;
    font-size: 13px;
  }
}
.indi-card{
  padding: 10px 30px 10px 30px !important;
  background-color: #e6e7ff;
  border-radius: 10px;
}